<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crud.demo.mapper.DailyMaterialMapper">

    <resultMap id="BaseResultMap" type="com.crud.demo.entity.DailyMaterial" >
        <result column="id" property="id" />
        <result column="bid" property="bid" />
        <result column="date" property="date" />
        <result column="material_type_id" property="materialTypeId" />
        <result column="material_quantity" property="materialQuantity" />
    </resultMap>




    <select id="countMaterialNum" resultMap="BaseResultMap" parameterType="com.crud.demo.entity.RequestBrand">
        SELECT bid,material_type_id, material_quantity,
			ROUND(material_quantity/(SELECT SUM(material_quantity) FROM daily_material WHERE bid = #{bid} and date between #{startDate} and #{endDate})*100,1) as materialPercent
        from daily_material
		WHERE bid = #{bid} and date between #{startDate} and #{endDate}
		GROUP BY material_type_id
        ORDER BY material_quantity DESC
    </select>


</mapper>