<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用于指定当前映射文件和哪个接口进行映射-->
<mapper namespace="com.crud.demo.mapper.GoodMapper">

    <resultMap id="GoodEntityMap" type="com.crud.demo.entity.Good">
        <result column="gid" jdbcType="INTEGER" property="gid" />
        <result column="bid" jdbcType="INTEGER" property="bid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="good_id" jdbcType="VARCHAR" property="goodId" />
        <result column="tray" jdbcType="DOUBLE" property="tray" />
        <result column="weight" jdbcType="DOUBLE" property="weight" />
        <result column="length" jdbcType="DOUBLE" property="length" />
        <result column="width" jdbcType="DOUBLE" property="width" />
        <result column="height" jdbcType="DOUBLE" property="height" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="is_delete" property="isDelete" />
    </resultMap>


    <!--按bid查询商品-->
    <select id="findByBid" resultType="com.crud.demo.entity.Good">
        select gid, bid, name, good_id, tray, weight, length, width, height, price, is_delete
         from good
         where bid = #{bid} and is_delete = 0
    </select>

    <!--按gid查询商品-->
    <select id="findByGid" resultType="com.crud.demo.entity.Good">
        select gid, bid, name, good_id, tray, weight, length, width, height, price, is_delete
         from good
         where gid = #{gid} and is_delete = 0
    </select>

    <!--按gid删除商品信息-->
    <delete id="deleteByGid" >
        update good SET is_delete = 1 where gid = #{gid}
    </delete>

    <!--按bid删除该商家所有商品信息-->
    <delete id="deleteByBid" >
        update good SET is_delete = 1 where bid = #{bid}
    </delete>


    <!--增/改商品信息-->
    <insert id="insert" parameterType="java.util.List">
        insert into good
        (gid, bid, name, good_id, tray, weight, length, width, height, price)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.gid},
            #{item.bid},
            #{item.name},
            #{item.goodId},
            #{item.tray},
            #{item.weight},
            #{item.length},
            #{item.width},
            #{item.height},
            #{item.price})
        </foreach>
        ON DUPLICATE KEY UPDATE
        bid = VALUES(bid),
        name = VALUES(name),
        tray = VALUES(tray),
        weight = VALUES(weight),
        length = VALUES(length),
        width = VALUES(width),
        height = VALUES(height),
        price = VALUES(price)
    </insert>


</mapper>